nav {
  background-color: rgb(84, 178, 255);
  display: flex;

  .nav-left {
    display: flex;
    align-items: center;
    flex: 1 1;
    margin-left: 1.5rem;
    }
    a {
        font-weight: bolder;
        font-size: 1.5rem;
        color: rgba(255, 230, 3, 0.996);
        &:hover {
            color: rgb(255, 98, 0);
            transition: all 0.3s ease;
          }
      } 
  }

 .nav-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;

    a {
      font-size: 1.5rem;
      color: rgba(255, 230, 3, 0.996);
      padding: 1.25rem 2rem;

      &:hover {
          color: rgb(255, 98, 0);
          transition: all 0.3s ease;
        }
    }
 }